a{
    text-decoration: none;
    font-weight: bold;
    color:black;
    margin-left:15px;
}
label{
    font-weight: bold;
}
.text-red{
    color: red;
}
.text-purple{
    color: green;
}
.text-xs{
    font-size: small;
}
